:root {
    --color-primary: #b100ff;
    --color-secondary: #c133ff;
    --color-black: #101216;
    --color-withe: hsl(0, 0%, 100%);
    --color-dark: #252a34;
    --color-dark1: #3a4252;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--color-dark1);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 20px;
    border: 3px solid #070d12;
  }